#all{
	background: rgb(239,219,94);
background: radial-gradient(circle, rgba(239,219,94,1) 23%, rgba(246,238,227,1) 54%);
}

#nv a{
	font-size: 33px;
	font-family: 'Ms Madi', cursive;
}

#navmenu ul li a{
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	color: black;
}

#main{
	height: 95vh;
	font-family: 'Comfortaa', cursive;
}

#hehe{
	display: flex;
	align-items: center;
	justify-content: center;
}

form{
	
}

#ro1 input, #ro2 input{
	margin-right: 5%;
}

form h2{
	font-size: 40px;
}

form input, form textarea{
	border: 0;
	background: white;
	margin: 10px 0;
	padding: 10px;
	border-radius: 8px;
}

#ro1{
	margin-top: 40px;
}

#ro1 input, #ro2 input{
	width: 44%;
}

#ro3{
	display: flex;
	flex-direction: column;	
}

#end{
	text-align: center;
	padding-bottom: 50px;
}

#end a img{
	width: 4%;
	margin-right: 3%;
}

#ro3 input, #ro3 textarea{
	width: 93%;
}

#ro3 button{
	width: 35%;
	height: 36px;
	text-align: center;
	border-radius: 15px;
	margin-top: 30px;
	background: white;

	margin-left: 30%;
}


@media(max-width:  576px){
	#ro1 input, #ro2 input{
	display: block;
	width: 93%;
	font-size: 12px;
}

	#main{
		height: 113vh;
	}
}