@media(max-width: 576px){
	#ro1{
		height: 70vh;
	}

	#ro1 h1{
		font-size: 50px;
		margin-top: 130px;
	}

	#ro2{

	}

	#ro2 h3{
		font-size: 50px;
	}

	#sm_about_dood{
		margin-top: 40px;
	}

	#ro3{
		margin-top: 30px;
	}

	#ro3 img{
		/*height: 85vh;
		width: 100%;*/
	}

	#what_to{
		margin-top: 100px;
	}

	#what1 h1{
		font-size: 50px;
	}

	#what2{
		line-height: 1.2;
		margin-top: 50px;
	}

	#he{
		margin-top: 100px;
	}

	#he h1{
		font-size: 50px;
	}

	#ho{
		margin-top: 50px;
	}

	.team_members{

	}

	.team_members h4{
		line-height: 1.3;
	}

	.team_members p{
		color: grey;
		line-height: 1.2;
	}

	#view{
		height: 30vh;
	}

	#view button{
		border-radius: 50%;
		height: 15vh;
		width: 30%;
		background: black;
		color: white;
	}

	#end{
	background-color: black;
	height: 80vh;
	margin-top: 40px;
}

#view1{
		margin-top: 50px;
		display: flex;
		justify-content: center;
	}

#view1 button{
		border-radius: 50%;
		height: 25vh;
		width: 60%;
		background: white;
		color: black;
}
}


/*dund delgets*/
@media(min-width: 576px) AND (max-width: 992px){
	#ro1{
		height: 75vh;
	}

	#ro1 h1{
		font-size: 65px;
		margin-top: 130px;
	}

	#ro2{

	}

	#ro2 h3{
		font-size: 64px;
	}

	#ro3{
		margin-top: 30px;
	}

	#ro3 img{
		/*height: 85vh;
		width: 100%;*/
	}

	#what_to{
		margin-top: 100px;
	}

	#what1 h1{
		font-size: 64px;
	}

	#what2{
		line-height: 1.2;
	}

	#he{
		margin-top: 100px;
	}

	#he h1{
		font-size: 64px;
	}

	#ho{
		margin-top: 50px;
	}

	.team_members{

	}

	.team_members h4{
		line-height: 2.5;
	}

	.team_members p{
		color: grey;
		line-height: 0;
	}

	#view{
		height: 30vh;
	}

	#view button{
		border-radius: 50%;
		height: 15vh;
		width: 20%;
		background: black;
		color: white;
	}

	#end{
	background-color: black;
	height: 70vh;
	margin-top: 150px;
}

#view1{
		margin-top: 50px;
	}

#view1 button{
		border-radius: 50%;
		height: 25vh;
		width: 25%;
		background: white;
		color: black;
}
}



/*tom delgets*/
@media(min-width: 992px){
	#ro1{
		height: 90vh;
	}

	#ro1 h1{
		font-size: 80px;
		margin-top: 130px;
	}

	#ro2{

	}

	#ro2 h3{
		font-size: 64px;
	}

	#ro3{
		margin-top: 80px;
	}

	#ro3 img{
		height: 85vh;
		width: 100%;
	}

	#what_to{
		margin-top: 200px;
	}

	#what1 h1{
		font-size: 64px;
	}

	#what2{
		line-height: 0.7;
	}

	#he{
		margin-top: 200px;
	}

	#he h1{
		font-size: 64px;
	}

	#ho{
		margin-top: 100px;
	}

	.team_members{

	}

	.team_members img{
		width: 95%;
		height: 60vh;
	}

	.team_members h4{
		line-height: 2.5;
	}

	.team_members p{
		color: grey;
		line-height: 0;
	}

	#view{
		height: 50vh;
	}

	#view button{
		border-radius: 50%;
		height: 28vh;
		width: 20%;
		background: black;
		color: white;
	}

	#end{
	background-color: black;
	height: 60vh;
	margin-top: 70px;
}

	#view1{
		margin-top: 50px;
	}

	#view1 button{
		border-radius: 50%;
		height: 30vh;
		width: 35%;
		background: white;
		color: black;
	}
}

