@media(max-width: 576px){
	#headers h1{
		font-size: 36px;
	}

	#location{
		margin-top: 70px;
	}

	#location a{
		text-decoration: none;
		color: grey;
	}

	#inputs input{
		height: 6vh;
		width: 100%;
	}

	#input_message{
		height: 20vh;
		width: 100%;
		margin-top: 15px;
		margin-left: 0px;
	}

	#fro{
		margin-top: 50px;
	}

	#subm{
		margin-top: 20px;
	}

	#subm button{
		text-decoration: none;
		color: black;
		border: none;
		background: white;
	}

	#subm img{
		width: 3%;
	}

	#follow{
		margin-top: 50px;
		height: 15vh;
	}

	#follow p{
		color: grey;
	}

	#follow a{
		text-decoration: none;
		color: black;
		font-size: 20px;
		margin-right: 10px;
	}
}

@media(min-width: 576px) AND (max-width: 992px){
	#headers h1{
		font-size: 54px;
	}

	#location{
		margin-top: 70px;
	}

	#location a{
		text-decoration: none;
		color: grey;
	}

	#inputs input{
		height: 6vh;
		width: 100%;
	}

	#input_message{
		height: 20vh;
		width: 100%;
		margin-top: 15px;
		margin-left: 0px;
	}

	#fro{
		margin-top: 50px;
	}

	#subm{
		margin-top: 20px;
	}

	#subm button{
		text-decoration: none;
		color: black;
		border: none;
		background: white;
	}

	#subm img{
		width: 3%;
	}

	#follow{
		margin-top: 50px;
		height: 15vh;
	}

	#follow p{
		color: grey;
	}

	#follow a{
		text-decoration: none;
		color: black;
		font-size: 20px;
		margin-right: 10px;
	}

}

/*tom delgets*/
@media(min-width: 992px){
	#headers{
		margin-top: 60px;
	}
	#headers h1{
		font-size: 90px;
	}

	#location{
		margin-top: 70px;
	}

	#location a{
		text-decoration: none;
		color: grey;
	}

	#inputs input{
		height: 6vh;
		width: 100%;
	}

	#input_message{
		height: 20vh;
		width: 100%;
		margin-top: 15px;
		margin-left: 0px;
	}

	#fro{
		margin-top: 50px;
	}

	#subm{
		margin-top: 20px;
	}

	#subm button{
		text-decoration: none;
		color: black;
		border: none;
		background: white;
	}

	#subm img{
		width: 3%;
	}

	#follow{
		margin-top: 50px;
		height: 15vh;
	}

	#follow p{
		color: grey;
	}

	#follow a{
		text-decoration: none;
		color: black;
		font-size: 20px;
		margin-right: 10px;
	}


}
